@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

//NAVBAR
$navbarHeigth: 60px;

//FONTS
$Inter: 'Inter', sans-serif;

$smText: 20px;
$mdText: 25px;

//THEMES

$mainColor: #572f24a8; 
$secColor: #581e58b2;
$thirColor: #794c79b2;

[data-theme='light'] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

[data-theme='dark'] {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}


//BUTTON
@mixin button-behaviour{
    cursor: pointer;

    &:hover{
        opacity: 0.5;
    }

    &:active{
        opacity: 0.3;
    }
}