@import '../../../Variables.scss';


.bearItem{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px;
    background-color: $thirColor;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    hr{
        margin-top: 7px;
        height: 3px;
        background-color: $secColor;
        border: none;
        border-radius: 3px;
    }

    &--wrap{

        &--header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &--arrow{
                font-size: 1.8rem;
                text-decoration: none;
            }

        }

        &--body{
            margin-top: 10px;
            display: flex;

            &--image{
                width: 300px;
                border-radius: 7px;
            }

            &--description{
                width: 400px;
                margin-left: 10px;

                &--item{
                    display: flex;
                    justify-content: space-between;
                    background-color: $secColor;
                    margin: 5px;
                    padding: 3px;
                    border-radius: 15px;

                    h3{
                        margin-left: 10px;
                    }
                    h4{
                        margin-right: 10px;
                    }
                }

            }
        }
    }
}


// <div className='bearItem'>
// <div className='bearItem--wrap'>
//     <div className='bearItem--wrap--header'>
//         <img className='bearItem--wrap--header--arrow' src='' alt='arrow left'></img>
//         <h1 className='bearItem--wrap--header--title'>Bear #1</h1>
//         <img className='bearItem--wrap--header--arrow' src='' alt='arrow right'></img>
//     </div>
//     <div className='bearItem--wrap--body'>
//         <img src='' alt='Nft selected'></img>
//         <div  className='bearItem--wrap--body--description'>
//             <h2>Attributes</h2>
//             {Object.keys(data).map((keyName, i) => (
//                 <div className="travelcompany-input" key={i}>
//                     <h3 className="input-label">{keyName}</h3>
//                     <h4 className=''>{data[keyName]}</h4>
//                 </div>
//             ))}