@import '../../../Variables.scss';

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff52ffb2;
    height: 60px;
    width: 100vw;

    &--logo{
        margin-left: 30px;
        font-size: $mdText;
        @include button-behaviour;
        text-transform: uppercase;
        text-decoration: none;
    }

    &--list{
        display:flex;
        list-style-type: none;
        margin-right: 30px;

        &--item{
            padding: 10px;
            font-size: $smText;
            @include button-behaviour;
            text-transform: uppercase;
            text-decoration: none;
            
        }
    }
}